In [35]:
import pandas as pd
import numpy as np
x=[1, 1.1, 1.2, 1.3, 1.4, 2, 1.2, 1.3, 1.5, 0.9, 0.8, 1.1, 11];
inlier = [];outlier = [];
lenth = len(x);
'''for i in x: 
  print(i);'''

sp="askjdkkd";
q=1
while q<(len(sp)):
  print(sp[q]);
  q+=1

s
k
j
d
k
k
d

In [23]:
dic={'name':"leno","age":18,"gender":"male"}
for k in dic:
  print(dic[k])

leno
18
male

In [24]:
print(len(sp))

8

In [30]:
for i in range(3):
    for j in range(5):
        print("*",end="");
    print()

*****
*****
*****

In [31]:
l = ['lsj', 'a', 'c']  # len(l)
for i in range(len(l)):
    print(i, l[i])

0 lsj
1 a
2 c

In [37]:
s= pd.Series(np.random.randn(5),index=["a","b","c","d","e"])
print(s)

a   -0.068405
b    0.283187
c    0.668163
d    0.963033
e    0.478462
dtype: float64

In [38]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [43]:
left = pd.DataFrame({'a': [1, 2, 3]})
right = pd.DataFrame({'c': [7, 8, 9], 'd': [10, 11, 12], 'a': [3, 4, 5]})
print(left);

   a
0  1
1  2
2  3

In [49]:
import pandas as pd

data = [['Google', 10], ['Runoob', 12], ['Wiki', 13]]

# 创建DataFrame
df = pd.DataFrame(data, columns=['Site', 'Age'])

# 使用astype方法设置每列的数据类型
df['Site'] = df['Site'].astype(str)
df['Age'] = df['Age'].astype(float)

print(df)


df.transpose
print(df);

     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0
     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0

In [50]:
from pandas import Series
import pandas as pd
from numpy import NaN
series_obj = Series([None, 4, NaN])
pd.isnull(series_obj)

0     True
1    False
2     True
dtype: bool

In [52]:
import numpy as np
import pandas as pd
ser_obj = pd.Series([4, np.nan, 6, 5, -3, 2])
ser_obj.sort_values()

4   -3.0
5    2.0
0    4.0
3    5.0
2    6.0
1    NaN
dtype: float64

In [ ]:
data